* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

body {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  background-image: url("../img/bg.jpg");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 20px;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.project-description {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#actionMovieLocation img,
#comedyMovieLocation img,
#horrorMovieLocation img {
  margin: 10px;
  max-height: 250px;
}

.form-wrapper {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: center;
}

.form-wrapper input,
select {
  padding: 15px 20px;
  border-radius: 4px;
  margin-right: 10px;
}

input#enderecoFilme {
  padding: 16px 20px;
}

.btn {
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  padding: 15px 20px;
  border-radius: 4px;
}

.form-wrapper button:hover {
  opacity: 0.8;
}
